<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cutreson</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <!-- Sticky Navbar -->
        <ul class="navbar">
            <li><a class="nav-btn" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a class="nav-btn" asp-area="" asp-controller="Note" asp-action="Index">Note</a></li>
            <li><a class="nav-btn" asp-area="" asp-controller="Expense" asp-action="Index">Expenses</a></li>
        </ul>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            &copy; 2024 - MyWebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
